@use 'variables';
@use 'reset';

body {
    font-family: variables.$main-font;
}

header {
    text-align: center;
    background: url(/images/mobile/image-header.jpg), lightgray 0px 0px / 100% 100% no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem;
    padding-top: 2rem;
    position: relative;
}

#toggle {
    padding: 0;
}

#toggle img {
    pointer-events: none;
}

#menu {
    display: none;
    background-color: #fffcf8;
    position: absolute;
    clip-path: polygon(100% 100%, 0% 100%, 0 15%, 95% 15%, 100% 0, 100% 15%);
    padding-top: 2rem;
    padding-left: 0;

    .menu__item {
        margin: 1rem;
    }
}


#menu.is-active {
    display: block;
    width: 100%;
    transform: translateY(20%);
}

main {
    text-align: center;
}

h1,
h2,
h3,
.contact-btn,
.learn-more-btn {
    font-family: variables.$secondary-font;
}

h1 {
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 0.39rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: normal;
    margin: 5rem 0 3rem;
}

a {
    text-decoration: none;
}

#toggle {
    border: none;
    background: none;
}

#arrow {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50%;
}

.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}